.subtitle {
  font-size: 14px;
  color: #888;
  text-align: left;
  margin-bottom: 16px;
  transition: font-size 0.2s, color 0.2s;
  cursor: pointer;
}
.subtitle-large {
  font-size: 20px;
  color: #333;
}